/*CSS*/


body{
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100vw;
}
 h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    height: 50px;
    text-align: center;
   
}
h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    height: 14px;
    background-size: cover;
    justify-content: right;
    align-items: right;
    
   }

 h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    height: 20px;
    background-size: cover;
    justify-content: right;
    align-items: right;

    }

    
.form-box, h4,h5,h6{
       position: absolute;
    }

h4{
    background: blue;
    left: 150px;
    top: 79px;
    height: 42px;
    width: 42px;
    border: 3px solid black;
    border-radius: 900px;
 }
 h5{
    background: blue;
    left: 185px;
    top: 78px;
    height: 42px;
    width: 42px;
    border: 3px solid black;
    border-radius: 900px;
 }
 h6{
    background: blue;
    left: 218px;
    top: 76px;
    height: 41px;
    width: 41px;
    border: 3px solid black;
    border-radius: 900px;
    
 }

.container{
    width: 100w;
    height: 100vh;
    background: url("../frontend/imagens/bola3.jpg") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.form-box{
    background: #fff;
    padding: 38px;
    border: 7px solid black;
    width: 840px;
    height: 550px;
    border-radius: 70px;
    
}


.form-box .form-input{
    border: 3px solid black;
    background:rgb(5, 94, 226) ;
    border-radius: 40px;
    width: 500px;
    height: 40px;
    color: white;
    font-size: 25px; 
    text-indent: 18px;
}

.form-box .cadastro{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px solid black;
    background: rgb(253, 253, 253);
    border-radius: 20px;
    width: 200px;
    height: 70px;
    float: right;
    font-size: 20px;
    margin: 40px;
    cursor: pointer;
}
.cadastro:hover{
    background-color: rgb(5, 94, 226);
}
::-webkit-input-placeholder {
    color: rgb(212, 199, 199);
    font-size: 20px;
 }
.form-box .voltar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px solid black;
    background: rgb(253, 253, 253);
    border-radius: 20px;
    width: 140px;
    height: 70px;
    float:left;
    font-size: 20px;
    margin: 40px;
    cursor: pointer;
}
.voltar:hover{
    background-color: rgb(115, 165, 240);
}

@media screen and (max-width: 1020px){
    .container{
       display: block;
       background-image: none;
       background-color: silver;
       height: 1800px; 
       width: 1030px;
    }

    .form-box{
        margin-top: 100px;
        text-align: center ;
        background-color: rgb(253, 253, 253);
        height: 1200px; 
        width: 910px;
        border: 20px solid black;
         }
         .form-box .form-input{
      
            width: 600px;
            height: 80px;
            font-size: 40px;
        }
        ::-webkit-input-placeholder {
            font-size: 30px;
         }
         h1{
           
            font-size: 150px;
            height: 80px;
            margin-top: 200px;
            
        }
        .form-box .voltar{
            position: absolute;
            left: 300px;
            top: 980px;
            width: 300px;
            height: 80px;
            font-size: 30px;
            background: silver;
        }
        .voltar:hover{
            background-color: rgb(115, 165, 240);
        }
        .form-box .cadastro{
            position: absolute;
            left: 280px;
            top: 1080px;
            width: 340px;
            height: 80px;
            font-size: 30px;
            background: silver;
        }
        .cadastro:hover{
            background-color: rgb(115, 165, 240);
        }
        h2{
            font-size: 30px;   
         }
    
         h3{
            font-size: 30px;
            height: 30px;
            }
         
         h4{
             
             left: 400px;
             top: 89px;
             height: 90px;
             width: 90px;
             border: 3px solid black;
             border-radius: 900px;
          }
          h5{
             background: blue;
             left: 450px;
             top: 88px;
             height: 90px;
             width: 90px;
             border: 3px solid black;
             border-radius: 900px;
          }
          h6{
             background: blue;
             left: 500px;
             top: 85px;
             height: 90px;
             width: 90px;
             border: 3px solid black;
             border-radius: 900px;
             
          }
}