body{
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100vw;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    background-size: cover;
    justify-content: right;
    align-items: right;
    margin-left: 180px;
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    height: 14px;
    margin-left: 100px;
    
}
.container, h4,h5,h6{
    position: absolute;
 }
h4{
    background: blue;
    left: 80px;
    top: 29px;
    height: 35px;
    width: 35px;
    border: 3px solid black;
    border-radius: 200px;
}
h5{
    background: blue;
    left: 100px;
    top: 28px;
    height: 35px;
    width: 35px;
    border: 3px solid black;
    border-radius: 900px;
}
h6{
    background: blue;
    left: 120px;
    top: 25px;
    height: 35px;
    width: 35px;
    border: 3px solid black;
    border-radius: 900px;
}

.imgfundo{
    width: 100w;
    height: 100vh;
    background: url(../reservas/imagens/bola5.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    background-color:white;
    height: 600px;
    width: 1200px;
    border: 8px solid black;
    border-radius: 70px;
    
}
.elemento{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 810px;
    height: 390px;
    background-color:white;
    border: 6px solid black;
    border-radius: 70px;
    margin: 10px;
    
}

.pol1,.pol2,.pol3,.pol4,.pol5,.pol6,.pol7,.pol8,.pol9
,.pol10,.pol11,.pol12,.pol13,.pol14,.pol15,.pol16,.pol17
,.pol18,.pol19,.pol20,.pol21,.pol22{ 
    margin: 15px 20px auto;
    background: blue;
    color: aliceblue;
    height: 30px;
    width: 30px;
    border: 2px solid black;
    border-radius: 900px;
    font-size: 14px;
 }
 .palco{
    margin: 180px 200px ;
    background: blue;
    color: aliceblue;
    height: 80px;
    width: 400px;
    border: 2px solid black;
    border-radius: 50px;
    font-size: 30px;
 }
.container .entrar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 7px solid black;
    background: rgb(253, 253, 253);
    border-radius: 20px;
    width: 140px;
    height: 80px;
    float:right;
    font-size: 20px;
    margin: 40px;
    cursor: pointer;
}
.entrar:hover{
    background-color: rgb(5, 94, 226);
}
