/*CSS*/

@import url("https://fonts.googleapis.com/css?family=Lato");

body{
    padding: 0;
    margin: 0;
}

.container{
    width: 100w;
    height: 100vh;
    background: url(../reservas/imagens/bola3.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-box{
    width: 600px;
    background: #fff;
    font-family: Lato;
    padding: 150px;
    border: 7px solid black;
    width: 850px;
    height: 200px;
    border-radius: 70px;
}

.form-box .form-input{
    border: 5px solid black;
    background:rgb(18, 86, 189) ;
    border-radius: 40px;
    width: 100%;
    height: 60px;
    font-size: large;
    margin-bottom: 50px;
}

.form-box .form-btn{
    border: none;
    background: rgb(221, 208, 208);
    width: 40%;
    height: 50px;
    font-size: large;
    color: #fff;
    margin-bottom: 10px;
}

@media screen and(max-width: 340px){
    .form-box{
        width: 100vw;
        height: 100vh;
    }
}