/*CSS*/


body{
    padding: 0;
    margin: 0;
}
 h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    height: 50px;
    top: 101px;
    background-size: cover;
    justify-content: right;
    align-items: right;
}
 h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    height: 30px;
    background-size: cover;
    justify-content: right;
    align-items: right;
    
 }
 h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    height: 30px;
    background-size: cover;
    justify-content: right;
    align-items: right;

    }
    
.form-box, h4,h5,h6{
       position: absolute;
    }

h4{
    background: blue;
    left: 360px;
    top: 119px;
    height: 50px;
    width: 50px;
    border: 3px solid black;
    border-radius: 900px;
 }
 h5{
    background: blue;
    left: 390px;
    top: 118px;
    height: 50px;
    width: 50px;
    border: 3px solid black;
    border-radius: 900px;
 }
 h6{
    background: blue;
    left: 420px;
    top: 115px;
    height: 50px;
    width: 50px;
    border: 3px solid black;
    border-radius: 900px;
    
 }

.container{
    width: 100w;
    height: 100vh;
    background: url(../reservas/imagens/bola3.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.form-box{
    background: #fff;
    padding: 80px;
    border: 7px solid black;
    width: 700px;
    height: 400px;
    border-radius: 70px;
    
}


.form-box .form-input{
    border: 3px solid black;
    background:rgb(5, 94, 226) ;
    border-radius: 40px;
    width: 500px;
    height: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}

.form-box .cadastro{
    border: 5px solid black;
    background: rgb(253, 253, 253);
    border-radius: 20px;
    width: 170px;
    height: 60px;
    float: left;
    font-size: 20px;
    
  
   
}
.form-box .entrar{
    border: 5px solid black;
    background: rgb(253, 253, 253);
    border-radius: 20px;
    width: 140px;
    height: 60px;
    float:right;
    font-size: 20px;
    

   
}

@media screen and(max-width: 340px){
    .form-box{
        width: 100vw;
        height: 100vh;
    }
}