/*CSS*/


body{
    padding: 0;
    margin: 0;
}
 h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 80px;
    height: 80px;
    background-size: cover;
    justify-content: right;
    align-items: right;
}
 h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 23px;
    height: 30px;
    background-size: cover;
    justify-content: right;
    align-items: right;
    
 }
 h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 23px;
    height: 30px;
    background-size: cover;
    justify-content: right;
    align-items: right;

    }
    
.form-box, h4,h5,h6{
       position: absolute;
    }

h4{
    background: blue;
    left: 360px;
    top: 89px;
    height: 50px;
    width: 50px;
    border: 3px solid black;
    border-radius: 900px;
 }
 h5{
    background: blue;
    left: 390px;
    top: 88px;
    height: 50px;
    width: 50px;
    border: 3px solid black;
    border-radius: 900px;
 }
 h6{
    background: blue;
    left: 420px;
    top: 85px;
    height: 50px;
    width: 50px;
    border: 3px solid black;
    border-radius: 900px;
    
 }

.container{
    width: 100w;
    height: 100vh;
    background: url(../reservas/imagens/bola3.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.form-box{
    background: #fff;
    padding: 38px;
    border: 7px solid black;
    width: 840px;
    height: 441px;
    border-radius: 70px;
    
}


.form-box .form-input{
    border: 3px solid black;
    background:rgb(5, 94, 226) ;
    border-radius: 40px;
    width: 500px;
    height: 40px;
    color: white;
    font-size: 25px; 
}

.form-box .cadastro{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 7px solid black;
    background: rgb(253, 253, 253);
    border-radius: 20px;
    width: 170px;
    height: 80px;
    float: right;
    font-size: 20px;
    margin: 40px;
  
   
}
.form-box .entrar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 7px solid black;
    background: rgb(253, 253, 253);
    border-radius: 20px;
    width: 140px;
    height: 80px;
    float:right;
    font-size: 20px;
    margin: 40px;

   
}

@media screen and(max-width: 340px){
    .form-box{
        width: 100vw;
        height: 100vh;
    }
}